{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }}</h1>
    <h4>{{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }} {% else %} Present{% endif %}</h4>
  <h3>Books</h3>
    {% for book in author.book_set.all %}
        <a href="{{ book.get_absolute_url }}">{{book.title}}</a> ({{ book.bookinstance_set.count }})
        <p>{{ book.summary }}</p>
    {% endfor %}
{% endblock %}